.home {
    display: flex;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.homeContainer h1 {
    color: black;
}
.homeContainer p {
    width: 60%;
}
.instructions{
    font-weight: bold;
    width: 100%;
}
button{
    background-color: #5233BB;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #472ba0;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}